
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div class="d-flex justify-content-center">
    <div class="card mt-2 w-75">

        <h2 class="text-center">Profile management</h2>

        <div class="row mt-5">

            <div class="col-6">
                <div class="row align-items-center">
                    <div class="col-3">
                        <span class="align-middle">First Name</span>
                    </div>
                    <div class="col-9">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText [(ngModel)]="value">
                            <label for="float-input">First Name</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="row align-items-center">
                    <div class="col-3">
                        <span class="align-middle">Last Name</span>
                    </div>
                    <div class="col-9">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText [(ngModel)]="value">
                            <label for="float-input">Last Name</label>
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-3">
            <div class="col-6">
                <div class="row align-items-center">
                    <div class="col-3">
                        <span class="align-middle">Password</span>
                    </div>
                    <div class="col-9">
                        <span class="p-float-label">
                            <p-password id="float-input" [(ngModel)]="value3" [toggleMask]="true"></p-password>
                            <label for="float-input">Password</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row align-items-center">
                    <div class="col-3">
                        <span class="align-middle">Email</span>
                    </div>
                    <div class="col-9">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText [(ngModel)]="value" >
                            <label for="float-input">Email</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col-6">
                <div class="row align-items-center">
                    <div class="col-3">
                        <span class="align-middle">Birth date</span>
                    </div>
                    <div class="col-9">
                        <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row align-items-center">
                    <div class="col d-flex align-items-center flex-column">
                        <button pButton type="button" label="Save changes" ></button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>





<div class="container">
    <h1>Set image</h1>
    <br>
    <form>
        <div class="form-group">
            <input type="file" (change)="onImageUpload($event)">
            <input type="button" (click)="imageUploadAction()" value="Upload Image" class="btn1">
        </div>


        <div>
            <output *ngIf=successResponse class="success"><b>{{successResponse}}</b></output>
        </div>
        <br>

        <div class="form-group">
            <input type="text" id="image" placeholder="Search Image" [(ngModel)]="image" name="image" />
            <input type="button" (click)="viewImage()" value="View Image" class="btn1">

        </div>

        <div *ngIf=dbImage>
            <img [src]="dbImage">
        </div>

    </form>
</div>