
<p-table [value]="rcvData" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Other</th>
            <th>staus</th>
            <th>severity</th>
            <th>type</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{rcvData.other}}</td>
            <td>{{rcvData.staus}}</td>
            <td>{{rcvData.severity}}</td>
            <td>{{rcvData.type}}</td>
        </tr>
    </ng-template>
</p-table>
