<div class="col-12">
    <div class="card">
        <h3>Add Or Modify Code Invitation</h3>
        <br>
        <div class="formgroup-inline">
            <div class="field">
                <label htmlFor="codeinput" class="p-sr-only">Code Invitation</label>
                <div class="flex align-items-center">
                    <input class="p-inputtext p-component p-element"  [(ngModel)]="codeinput" id="codeinput">
                    <p-button pRipple label="Set" (click)="AddOrModify()"></p-button>
                </div>
                <h6>{{msg}}</h6>
                <br><br><br>
            </div>
            <div class="field">
        <button label="Delete Code" (click)="delete()" pButton></button>
        <h4>Your Code is:</h4>
        <h5>{{codetext}}</h5>
            </div>
    </div>
</div>

