<div class="col-12">
    <div class="card">
        <h5>Add Or Modify Code Invitation</h5>
        <div class="formgroup-inline">
            <div class="field">
                <label htmlFor="codeinput" class="p-sr-only">Code Invitation</label>
                <div class="flex align-items-center">
                    <input  [(ngModel)]="codeinput" id="codeinput">
                    <p-button pRipple label="Ok" (click)="AddOrModify()"></p-button>
                </div>
            <br><br><br>
        </div>

        <button label="Delete Code" (click)="delete()" pButton></button>
        <h3>Your Code is:</h3>
        <h4>{{codetext}}</h4>
    </div>
</div>

