<div class="col-md-12 d-flex justify-content-between">
    <div class="imageUserSession col-md-2">
        <p-avatar image="assets/public/Capture.PNG"  size="large" shape="circle"></p-avatar>
    </div>
    <div class="userSessionChat col-md-7">                
        <h5>Hammami Mongi</h5>
        <h6>Software engineer</h6>
    </div>
    <div class=" icon col-md-4 d-flex justify-content-between" style="padding-right: 30px;"> 
        <i class="pi pi-circle" style="font-size: 25px"></i>               
        <i class="pi pi-video" style="font-size: 25px"></i>
        <i class="pi pi-comment" style="font-size: 25px"></i>

    </div>
</div>

<div class="col-md-12 searchBox" >
    <input [(ngModel)] = "searchText" type="text" class="form-control" placeholder="Search Chats">
    <i class="pi pi-search" style="font-size:15px"></i>
</div>

<div class="col-md-12 d-flex justify-content-center" id="emptyInbox" *ngIf=" conversations.length ==0 ">
    <h6>Send ur first message</h6>
</div>

<div class=" sidebarConversation">  
        <div class="col-md-12 convesations d-flex justify-content-between"  
        *ngFor="let conversation of conversations " >
        <a [routerLink]="['/chatbox',conversation[0]]"  (click)="getLinksClicket"  (click)="conversationClicket.emit(conversation)">
        <div class="imageChat col-md-2 align-self-center">
            <p-avatar image="assets/public/Capture.PNG"  size="large" shape="circle"></p-avatar>
        </div>
        <div class="LastMessage col-md-7  align-self-center">                
            <h5>{{conversation[1]}}</h5>
           <!--<h6   *ngIf="conversation.me>You : {{conversation.lastMassage}}</h6>
            <h6 *ngIf="!conversation.me" [ngClass]="{seen:!conversation.seen}">
                
                {{conversation.message}}</h6>
                --> 
                <h6>{{conversation[2]}}</h6>
        </div>

        <div class="TimeMessage col-md-3 ">    
             <!-- ken new message -->   
             <i *ngIf="!conversation.seen && !conversation.me">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                  </svg>
            </i> 

             <h6>{{conversation[5]}}</h6>
            
        </div>
    </a>
        </div>
        
</div>  