<p-card header="Simple Card" [style]="{'width': '50rem'}" >
    <ng-template pTemplate="header">
    <p-avatar label="P" styleClass="p-mr-2" size="large"></p-avatar> username
    <span>12/12/12</span> ago.
    </ng-template>   
            <div [innerHTML]="post.description"></div>
                <ng-template pTemplate="footer">
                
                <button pButton type="button" icon="pi pi-arrow-up"class=" p-button-rounded p-button-text-outlined p-button-outlined"></button>
                <button pButton type="button" icon="pi pi-arrow-down"class=" p-button-rounded p-button-text-outlined p-button-outlined p-button-secondary" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></button>
            </ng-template>
        </p-card>