#background_chat{
    background-color: #141318;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}
.chatSidebarHeader{
    padding-top: 25px;
    background-color: #181A1E;
}
.imgChatBoxBg{
    display: flex;
    justify-content: center;
    
}

.sidebarRight{
    background-color: #181A1E;
}
.chatBox{
    background-color: #141318;
}