<h3>List of sub and his</h3>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Row Expand</h5>
            <p-toast></p-toast>

            <p-table [value]="Allsub" dataKey="name" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <button pButton icon="pi pi-fw {{isExpanded ? 'pi-minus' : 'pi-plus'}}" label="{{isExpanded ? 'Collapse All' : 'Expand All'}}" (click)="expandAll()"></button>
                    <div class="flex table-header">
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="nameCompany">nameCompany <p-sortIcon field="nameCompany"></p-sortIcon></th>
                        <th pSortableColumn="nbrEmployeeMax">nbrEmployeeMax <p-sortIcon field="nbrEmployeeMax"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-sub let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="sub" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td style="min-width: 12rem;">{{sub.company.nameCompany}}</td>
                        <td style="min-width: 12rem;">{{sub.nbrEmployeeMax}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-sub>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table [value]="Allhis" dataKey="id" responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="dateHistorySubcriptionCompany">dateHistorySubcriptionCompany<p-sortIcon field="dateHistorySubcriptionCompany"></p-sortIcon></th>
                        <th pSortableColumn="nbrEmployeeAddedToMax">nbrEmployeeAddedToMax <p-sortIcon field="nbrEmployeeAddedToMax"></p-sortIcon></th>
                        <th style="width: 4rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-his>
                    <tr *ngIf="his.userHistory.idUser == sub.company.idUser">
                        <td>{{his.dateHistorySubcriptionCompany}}</td>
                        <td>{{his.nbrEmployeeAddedToMax}}</td>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">There are no order for this product yet.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
    </div>
</div>

