<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>

        </div>
    </ng-template>
</p-toast>


<div class="card" >
    <h1>Add Activities</h1>
    <br>

    <p-tabView>
      <p-tabPanel header="Add activity">

        <div class="col-12">
          <div class="card">
              <div class="col-12 md:col-12">
                  <h5>Activity Description</h5>
                  <textarea pInputTextarea placeholder="Your Message" autoResize rows="5" cols="160" [(ngModel)]="description" ></textarea>
              </div>
          </div>
          </div>
          
              <div class="col-12">
              <div class="card">
                <div class="grid p-fluid">
                  <div class="col-12 md:col-6">
                              <h5>Activity title</h5>
                              <input type="text" pInputText [(ngModel)]="title"/>
                  </div>
            
                  <div class="col-12 md:col-6">
                              <h5>Activity period</h5>
                              <p>{{period}} Hours</p> 
                              <p-slider [(ngModel)]="period" [min]="0" [max]="8"></p-slider>
                  </div>
                          <div class="col-12 md:col-6">
                              <h5>Progress</h5>
                              <p-dropdown [options]="prog" [(ngModel)]="progress" placeholder="Select the progress" 
            [showClear]="true"></p-dropdown>
                  </div>
                          <div class="col-12 md:col-6">
                              <h5>Project</h5>
                              <p-dropdown [options]="rcvDataTripPlan" (onClick)="select()" placeholder="Select a project" [(ngModel)]="selectedTripPlan" optionLabel="projectName"	[showClear]="true">
                              </p-dropdown> 
                         </div>
                  
                  <div class="col-12 md:col-6">
          
                  </div>
                </div>
              </div>
            </div>
          
              <div class="card">
          
            <button pButton type="button" label="Add Activity" class="p-button-secondary" (click)="addActivity()" class="p-button-rounded p-button-success mr-2"></button>
          
          </div>

      </p-tabPanel>
      <p-tabPanel header="Planification">
        <p-pickList
        [source]="sourceActivities"
        [target]="targetActivities"
        sourceHeader="Available activities"
        targetHeader="Selected activities"
        dragdrop="true"
        [responsive]="true"
        [sourceStyle]="{ height: '300px' }"
        [targetStyle]="{ height: '300px' }"
        filterBy="name"
        sourceFilterPlaceholder="Search by name"
        targetFilterPlaceholder="Search by name"
      >
        <ng-template let-Activity pTemplate="item">
          <div class="Activity-item">
            <div class="Activity-list-detail">
              <h5 class="p-mb-2">{{ Activity.acivity }}</h5>
              <span class="product-category">Period : {{Activity.activityDescription }}</span>
            </div>
            <div class="Activity-list-action">
              <h6 class="p-mb-2">Description : {{ Activity.period }}</h6>
             
            </div>
          </div>
        </ng-template>
      </p-pickList>
      <br>
      <div class="card">
      <button pButton type="button" label="Add Activities" class="p-button-secondary" (click)="addActivities()" class="p-button-rounded p-button-success mr-2"></button>
      <button pButton type="button" label="Planificate" class="p-button-secondary" (click)="activitiesPlanification()" class="p-button-rounded p-button-success mr-2"></button>
    </div>
      {{selectedTripPlan.tripPlanId}}
      </p-tabPanel>
    
    </p-tabView>


</div>










<full-calendar deepChangeDetection="true"   [options]="calendarOptions"> 
</full-calendar>

<p *ngIf="updatedialog==true">anas</p>




<button type="button" (click)="show()" pButton icon="pi pi-info-circle" label="Show"></button>
