<div class="col-12">
    <div class="card">
        <h5>List of Code Invitation</h5>
        <p-table #dt1 [value]="Allcode" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true"
                 [globalFilterFields]="['idCodeInvitationCompany','dateCreationCodeInvitationCompany','codeInvitation']" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search Keyword" class="w-full"/>
						</span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            idCodeInvitationCompany
                            <p-columnFilter type="text" field="idCodeInvitationCompany" display="menu" placeholder="Search by name"></p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            dateCreationCodeInvitationCompany
                            <p-columnFilter type="text" field="dateCreationCodeInvitationCompany" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            codeInvitation
                            <p-columnFilter type="text" field="codeInvitation" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Actions
                            <p-columnFilter type="text" field="Actions" display="menu" placeholder="Search by name"></p-columnFilter>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-codeinvitationcompany>
                <tr>
                    <td style="min-width: 12rem;">
                        {{codeinvitationcompany.idCodeInvitationCompany}}
                    </td>
                    <td style="min-width: 12rem;">
                        {{codeinvitationcompany.dateCreationCodeInvitationCompany}}
                    </td>
                    <td style="min-width: 12rem;">
                        {{codeinvitationcompany.codeInvitation}}
                    </td>
                    <td style="min-width: 12rem;">
                        <button pbutton="" pripple="" label="Delete" icon="pi pi-trash" class="p-element p-ripple p-button
                         p-component" ng-reflect-label="Delete" ng-reflect-icon="pi pi-trash" (click)="deleleCode(codeinvitationcompany.idCodeInvitationCompany)">
                            <span class="p-button-icon p-button-icon-left pi pi-trash" aria-hidden="true"></span>
                            <span class="p-button-label">Delete</span><span class="p-ink" style="height: 102px; width: 102px; top: -26px; left: -7.21875px;"></span>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No customers found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
