

<div class="grid">
    <div class="col-12 xl:col-4">
<div>
<p-card >
<p-panelMenu [model]="items" ></p-panelMenu>
</p-card>
</div >
</div>
<div>
    <p-editor [(ngModel)]="text2" [style]="{'height':'150px'}"></p-editor>
    <div>
        <p-card header="Simple Card" [style]="{'width': '50rem'}" >
            <ng-template pTemplate="header">
            <p-avatar label="P" styleClass="p-mr-2" size="large"></p-avatar> username
            </ng-template>   
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                        <ng-template pTemplate="footer">
                        
                        <button pButton type="button" icon="pi pi-arrow-up"class=" p-button-rounded p-button-text-outlined p-button-outlined"></button>
                        <button pButton type="button" icon="pi pi-arrow-down"class=" p-button-rounded p-button-text-outlined p-button-outlined p-button-secondary" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></button>
                    </ng-template>
                </p-card>
        </div>
    </div>

</div>






