<p-messages></p-messages>

<div class="grid">
    <div class="col-12 xl:col-4">
<div>
<p-card >
<p-panelMenu [model]="items" ></p-panelMenu>
<p-chart type="pie" [data]="data" [options]="chartOptions"  [style]="{'width': '40%'}"></p-chart>
</p-card>
</div >
</div>
<p-card>
    <p-editor [(ngModel)]="text2" (contentChanged)="showText()" [style]="{'height':'150px'}" ></p-editor>
    <button pButton [style]="{'float' : 'right', 'margin': '5px'}" type="button" label="Submit" (click)="createPost()" class="btnCreatePost"></button>
    <br> 
    <br>
    <br>
    <span *ngIf="postlist.length> 0">
    <div *ngFor="let post of postlist" [style]="{'margin-top' :'20px'}"> 

        <app-post [post] = "post"></app-post>
        </div>
    </span>
</p-card>

</div>






