<div class="container-fluid overflow-auto" id="background_chat" style="padding-top:20px;height:100% ">
    <div class="row">

        <div class="col-md-3">
            <div class="col-md-12 monStatue d-flex justify-content-between">
                <div class="imageUserSession col-md-2">
                    <p-avatar image="assets/public/userpdp/mongi.jpg"  size="large" shape="circle"></p-avatar>
                </div>
                <div class="userSessionStorie col-md-7">                
                    <h5>Mes stories</h5>
                    <h6>Aucune mise à jour</h6>
                </div>
                
                <div class=" icon col-md-4 d-flex justify-content-between" style="padding-right: 30px;"> 
                    <a routerLink="/stories"><i class="pi pi-circle" style="font-size: 25px"></i>  </a>
            
                </div>
            </div>
            <hr class="col-md-12" style="background-color: #4A5059;">

            <div class="col-md-12 recentStories">
                <h6>Récents</h6>
                <a routerLink="/list-stories/1" style="text-decoration:none">
                    <div class="col-md-12 monStatue d-flex justify-content-between">
                    <div class="imageUserSession col-md-2">
                        <p-avatar image="assets/public/userpdp/mongi.jpg"  size="large" shape="circle"></p-avatar>
                        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;" xml:space="preserve">  
                            <circle cx="50" cy="50" r="40" />
                        </svg>
                    </div>
                    <div class="userSessionStorie col-md-10">                
                        <h5>hammami mongi</h5>
                        <h6>aujourd'hui à 00:50</h6>
                    </div>
                    
                    </div>
                </a>
               
                
            </div>
            
        </div>
        <div class="col-md-9 rightSideStories">
            <div class="col-md-12 exitStorie ">
                <a routerLink="/chat">
                    <div class="close-container">
                        <div class="leftright"></div>
                        <div class="rightleft"></div>
                        <label class="close">close</label>
                      </div>
                    </a>
                
            </div>            
            <div class="col-md-12 imageStorieBackground">
                <img src="assets/public/Selfie-bro.svg">
            </div>
        </div>

    </div>

</div>

