<div class="container overflow-auto" style="height:100% ">
    <div class="row">
        <div class="col-md-12 DetailRightGroup d-flex flex-column ">
            <div class="imageChat col-md-12">
                <img src="assets/public/Capture.PNG"   >
            </div>

            <div class="col-md-12 nameGroup">
                <h5 *ngIf="!groupNameUpdaet">{{conversation[1]}}</h5>
                <h5 *ngIf="groupNameUpdaet">{{groupNameUpdaet}}</h5>
            </div>

        </div>

        <div class="col-md-12 detailFiles d-flex justify-content-between">
            <button class="col-md-6 filesBox flex-column" (click)="op.toggle($event)">
                <h5>Files</h5>
                <div class="OutputfilesBox d-flex ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-fill" viewBox="0 0 16 16">
                        <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
                      </svg>
                      <h4>{{files.length}}</h4>
                </div>

                <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}"  >
                    <ng-template pTemplate>
                        <p-table  [value]="files" selectionMode="single" [(selection)]="selectedProduct" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                            <ng-template pTemplate="header"> 
                                <tr>
                                    <th pSortableColumn="name">File<p-sortIcon field="name"></p-sortIcon></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-file>
                                <tr [pSelectableRow]="rowData">
                                    <td>
                                        <button class="btnFileDownload">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                                                <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                                            </svg>
                                            {{file}}
                                        </button>
                                    </td>
                                    
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-template>
                
                </p-overlayPanel>  

            </button>

            <button class="col-md-6 linksBox flex-column"  (click)="opLink.toggle($event)">
               <h5>Links</h5>
                <div class="OutputfilesBox d-flex ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                        <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                      </svg>
                      <h4>{{links.length}}</h4>
                </div>
                
                <p-overlayPanel #opLink [showCloseIcon]="true" [style]="{width: '450px'}"  >
                    <ng-template pTemplate>
                        <p-table  [value]="links" selectionMode="single" [(selection)]="selectedProduct" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                            <ng-template pTemplate="header"> 
                                <tr>
                                    <th pSortableColumn="name">Links<p-sortIcon field="name"></p-sortIcon></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-link>
                                <tr [pSelectableRow]="rowData">
                                    <td><a ng-href="{{link}}">{{link}}</a></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-template>
                
                </p-overlayPanel>             
            </button>
        </div>

        <div class="col-md-12 groupsBox">
            <div class="col-md-5 membersBox d-flex justify-content-between">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                  </svg>
                <h6 class="members">MEMBERS</h6>
                <h6>{{Users.length}}</h6>
            </div>

            <div *ngFor="let user of Users;">
            <div class="col-md-12 d-flex " style="margin-bottom:10px" >
                <div class="col-md-2 userDetailGroups d-flex justify-content-between align-self-center">
                    <img class="img-fluid" src="../../assets/public/{{user.image}}" style="width:30px ; height:30px;border-radius: 100px;">
                </div>
                <div class="col-md-8 align-self-center">
                    <h6 style="text-transform: capitalize; font-family:roboto medium;position: relative;top:2px;">{{user.prenom}} {{user.nom}}</h6>
                </div>
                <div class="col-md-2 trashMembers align-self-center">
                    <button (click)="deleteMember(user.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg>
                    </button>
                </div>
            </div>
            </div>
            
        </div>

        <div class="col-md-12 imageGroupChat" style="overflow:auto;">
            <div class="col-md-5 membersBox d-flex justify-content-between">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image-fill" viewBox="0 0 16 16">
                    <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/>
                  </svg>
                <h6 class="members">MEDIA</h6>
                <h6>62</h6>
            </div>
            <div class="col-md-4 imageChat">
                <p-image  class="img-fluid"  src="../../assets/public/Capture.PNG" alt="Image" width="100%" [preview]="true"></p-image>
            </div>

        </div>

        <div class="col-md-12 customizeChat" >
            <div class="col-md-12 titreCustomize d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-palette-fill" viewBox="0 0 16 16">
                    <path d="M12.433 10.07C14.133 10.585 16 11.15 16 8a8 8 0 1 0-8 8c1.996 0 1.826-1.504 1.649-3.08-.124-1.101-.252-2.237.351-2.92.465-.527 1.42-.237 2.433.07zM8 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm4.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                  </svg>
                <h5 >CUSTOMIZE CHAT</h5>
            </div>
            <div class="col-md-12 editGroupsName d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg>
                  <h6>Change Chat Name</h6> 
            </div>
            <input type="text" class="col-md-12 form-control" (keyup.enter)="updateGroupName($event)"  [(ngModel)]="groupNameUpdaet"  placeholder="Modifier le nom du group"> 
            <div class="col-md-12 editEtatGroups d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-shield-fill-exclamation" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm-.55 8.502L7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0zM8.002 12a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                  </svg>
                  <h6>Edit Etat Group</h6>         
            </div>

        </div>




    </div>

</div>
<p>{{conversation.id}}</p>

