<!--<app-header></app-header>-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<app-menu-admin></app-menu-admin>

<div class="container mt-2">

    <div class="card">
        <div class="d-flex justify-content-center align-items-center">

            <div class="w-50 d-flex justify-content-center align-items-center flex-column">
                <h3>Statistic number users by role</h3>
                <div class="w-75">
                    <p-chart type="pie" [data]="data" [options]="chartOptions" [style]="{'width': '20%'}"></p-chart>
                </div>
            </div>


            <div class="w-50 d-flex justify-content-center align-items-center flex-column">
                <h3>Statistic number user by domain</h3>
                <div class="w-75">
                    <p-chart type="polarArea" [data]="data2" [options]="chartOptions" [style]="{'width': '40%'}">
                    </p-chart>
                </div>
            </div>

        </div>

        <div class="w-100 d-flex justify-content-center align-items-center flex-column">
            <h3>Statistic for radar</h3>
            <div class="w-50">
                <p-chart type="radar" [data]="data3" [options]="chartOptions_radar" [style]="{'width': '40%'}"></p-chart>
            </div>
        </div>
    </div>

</div>