<div id="container" style="height:90%">
    <div id="header">
        <diV class="col-md-6 detailGroup">
            <h5 >{{conversation[1]}} <span>{{detailsChat.length}}</span></h5>
            <h5 *ngIf="groupNameUpdaet">{{groupNameUpdaet}} <span>{{detailsChat.length}}</span></h5>
        </diV>

        <diV class="col-md-6 userGroupHeader ">
            <!--
            <div class="col-md-3 icon">

            </div>
        -->
            <p-avatarGroup class="avatarGroup" label="P">
                <div *ngFor="let detGroup of detailsChat ; let i = index" >
                    <p-avatar *ngIf="i<3" image="assets/public/userpdp/{{detGroup[3]}}" shape="circle"></p-avatar>
                </div>
                <div *ngIf="detailsChat.length>3" style="position: relative;right: 17px;">
                    <p-avatar  label="+{{detailsChat.length-3}}" shape="circle"
                [style]="{'background-color':'#292929', 'color': '#ffffff'}"  ></p-avatar>
                </div>
                
             </p-avatarGroup>
        </diV>

    </div>

    <div id="body" >
        <div class="message" [ngClass]="{me:message.me}" *ngFor="let message of chatMessages " (mouseover)="hoverEvent=true" >
            <div class="col-md-6 userChatData" *ngIf="!message.me">
               <img class="img-fluid" src="../../assets/public/chatImage/Capture.PNG" *ngIf="message.me==false">
                <h5>{{message.messageUser.firstNameEmploye}} {{message.messageUser.lastNameEmploye}}</h5>
            </div>
            
           <div class="messageContent" *ngIf="message.messageType!='audio'">
            {{message.message}}
                <div >
                    <p-speedDial style="margin-top: -20px;" [model]="items" radius="70" direction="up-right" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>

                </div>
                
             </div>
             <div class="d-flex reactBtn">
                <div class="col-md-4 like" (click)="addLike(message.idMessage)">
                    <button class="like"> 
                        <span *ngIf="idMessageClicked==message.idMessage">{{numberLikeNew}}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                            <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                          </svg>
                    </button> 
                    
                </div>
                <div class="col-md-4  dislikeBtn">
                    <button class="dislike" (click)="addDisLike(message.idMessage)">
                        <span *ngIf="idMessageClicked==message.idMessage">{{numberdislikeNew}}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                            <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
                          </svg>
                    </button>
                    
                </div>
                <div class="col-md-4  heartBtn">
                    
                      <button class="heart" (click)="addHeart(message.idMessage)">
                        <span *ngIf="idMessageClicked==message.idMessage">{{numberheartNew}}</span>
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg>
                    </button>
                </div>
            </div>
             
             <div class="messageContent" *ngIf="message.messageType=='audio'" style="background-color: transparent;height: 60px;">
                <audio controls>
                    <source src="../../assets/public/{{message.message}}" type="audio/ogg">
                    <source src="../../assets/public/{{message.message}}" type="audio/wav">
                </audio>
                    <div>
                        <p-speedDial style="margin-top: -20px;" [model]="items" radius="70" direction="up-right" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>
    
                    </div>
                 </div>

        </div>
    </div>
    <div id="footer">
        <form  >
            <input [(ngModel)]="chat.message" name="message" (keyup.enter)="submitMessage(chat.message)"  class="col-md-12 form-control sendMessageInput" row="1" placeholder="Type your Message !..." style="flex-grow: 1;resize:none">
            <img class="img-fluid" src="assets/public/userpdp/mongi.jpg">

            <button (click)="submitVocalBtn()" type="button" style="float: right;border: none;background-color: transparent;position: relative;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
            <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
            <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
          </svg>
          </button>
        
          <input type="file" (change)="onFileChanged($event)" style="opacity: 0;;background-color: transparent;
          width: 10px;position: relative;float: right;right: 60px;top: -40px;z-index: 1000;">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
            <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
          </svg>
          <button (click)="submitMessageBtn()" type="button" style="border: none;background-color: transparent;position: relative;
          float: right;right: -60px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                  <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                </svg>
            </button>    
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
          </svg>
        
        
        </form>
        

    </div>
</div>