


<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<p-tabView>
    <p-tabPanel header="Custom View">


        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 mr-5"
                        (click)="openNew()"></button>
                    <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
                        (click)="deleteSelectedProducts()"
                        [disabled]="!selectedProducts || !selectedProducts.length"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="projects" [rows]="10" [paginator]="true"
                [globalFilterFields]="['name','country.name','representative.name','status']"
                [(selection)]="selectedProjects" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <h5 class="p-m-0">Manage Projects</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">Associates <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">Description <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rating">Start date <p-sortIcon field="rating"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rating">End date <p-sortIcon field="rating"></p-sortIcon>
                        </th>
                        <th pSortableColumn="inventoryStatus">Progress <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-project>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="project"></p-tableCheckbox>
                        </td>
                        <td>{{project.name}}</td>
                        <td>


                            <app-avatars [lol]=5 [associates]=project.associates></app-avatars>

                        </td>
                        <td>{{project.description}}</td>
                        <td>{{project.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{project.endDate | date: 'dd/MM/yyyy'}}</td>
                        <td><p-knob [disabled]="true" [(ngModel)]="project.progress"></p-knob></td>
                        <!--  <td><span [class]="'product-badge status-' + project.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td> -->
                        <td>
                            <button pButton pRipple class="" icon="pi pi-pencil"
                                class="p-button-rounded p-button-success p-mr-2"
                                (click)="editProduct(project)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="deleteProduct(project)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{projects ? projects.length : 0 }} projects.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="projectDialog" [style]="{width: '450px'}" header="Project Details" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div *ngIf="!create">
                    <app-mini-profil [id]=project.user.idUser></app-mini-profil>
                </div>
                <div class="p-field">
                    <label for="name">Project ID:</label>
                    <input [disabled]=true type="text" pInputText id="id" [(ngModel)]="project.projectId" required
                        autofocus />
                </div>
                <div class="p-field">
                    <label for="name">Project Name:</label>
                    <input type="text" pInputText id="name" [(ngModel)]="project.name" required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !project.name">Name is required.</small>
                </div>
                <div class="p-field">
                    <label for="description">Project Description:</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="project.description" required rows="3"
                        cols="20"></textarea>
                </div>
                <div class="p-field">
                    <label for="startDate">Start date:</label>
                    <p-calendar id="startDate" [(ngModel)]="project.startDate" required autofocus></p-calendar>
                </div>
                <div class="p-field">
                    <label for="startDate">End date:</label>
                    <p-calendar id="startDate" [(ngModel)]="project.endDate" required autofocus></p-calendar>
                </div>
                <div class="p-field">
                    <label for="startDate">Progress:</label>
                    <td><p-knob  [(ngModel)]="project.progress"></p-knob></td>
                </div>
                <div class="p-field">
                    <label for="startDate">Associates:</label>
                    <p-multiSelect [options]="cities" [(ngModel)]="project.associates" defaultLabel="Select associates" optionLabel="firstNameEmploye" selectedItemsLabel="{0} associates selected"></p-multiSelect>
                </div>
              



            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>






    </p-tabPanel>
    <p-tabPanel header="Compact view">
        Content 2
    </p-tabPanel>

   <!-- <p-button label="get projects" (click)="loadProjects()"></p-button>
    <p-button label="zid project" (click)="nzidoproject()"></p-button>
    <p-button label="login" (click)="login()"></p-button>
    <div pDraggable="pDroppable" > <li>bbbbbb</li></div>-->
</p-tabView>