<p>get-all-invitations works!</p>
<button label="GetAllInvitations"  (click)="GetAllInvitations()"></button>

<p>get-all-invitations works!</p>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Row Expand</h5>
            <p-toast></p-toast>

            <p-table [value]="AllUsers" dataKey="name" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <button pButton icon="pi pi-fw {{isExpanded ? 'pi-minus' : 'pi-plus'}}" label="{{isExpanded ? 'Collapse All' : 'Expand All'}}" (click)="expandAll()"></button>
                    <div class="flex table-header">
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th pSortableColumn="nameCompany">nameCompany <p-sortIcon field="nameCompany"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="user" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>{{user.nameCompany}}</td>
                        <td>
                            <button pButton pRipple label="Add Invitation" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew(user.idUser)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-user>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table [value]="AllInvitations" dataKey="id" responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                    <tr>
                    <th pSortableColumn="mailEmployee">mailEmployee <p-sortIcon field="mailEmployee"></p-sortIcon></th>
                    <th pSortableColumn="number">number <p-sortIcon field="number"></p-sortIcon></th>
                    <th pSortableColumn="dateCreationInvitation">dateCreationInvitation <p-sortIcon field="dateCreationInvitation"></p-sortIcon></th>
                    <th pSortableColumn="dateAcceptInvitation">dateAcceptInvitation <p-sortIcon field="dateAcceptInvitation"></p-sortIcon></th>
                    <th pSortableColumn="statusInvitation">statusInvitation <p-sortIcon field="statusInvitation"></p-sortIcon></th>
                    <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-invitation>
                    <tr *ngIf="invitation.userSender.idUser == user.idUser">
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Number</span>
                            {{invitation.mailEmployee}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{invitation.number}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{invitation.dateCreationInvitation}}

                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{invitation.dateAcceptInvitation}}
                        </td>
                        <td style="width:14%; min-width: 10rem;">
                            {{invitation.statusInvitation}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                        (click)="deleleinvit(invitation.idInvitation)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">Empty</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
    </div>
</div>
<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="new invitation" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="Email">Email</label>
            <input type="text" pInputText id="Email" [(ngModel)]="emailinput" required autofocus
                   [ngClass]="{'ng-invalid ng-dirty' : submitted && !emailinput}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && emailinput">Name is required.</small>
        </div>
        <div class="field">
            <label for="number">Number</label>
            <input type="number" pInputText id="number" [(ngModel)]="numberinput" required autofocus
                   [ngClass]="{'ng-invalid ng-dirty' : submitted && !numberinput}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !numberinput">Number is required.</small>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Send" icon="pi pi-check" class="p-button-text" (click)="addcode(idddd)"></button>
    </ng-template>
</p-dialog>
